<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Weather - OOP</title>
    <style> body{text-align: center}</style>
</head>
<body>
<%if(error===null){%>>
<div id="weather">
    <div id="description"><%=description%>></div>
    <h1 id="temp"><%=temp%>></h1>
    <div id="location"><%=city%>></div>
</div>
<hr>
<div>
    <form id="change-city" method="post" action="/">
        <label for="city-name">City</label>
        <input type="text" id="city-name" name="cityname">
        <br>
        <input type="submit" value="Save changes">
    </form>
    <%}else{%>
    <div role="alert">
        <%=error%>
    </div>
    <a href="/" role="button">Try again</a>
    <%}%>
</div>
<script src="app.js"></script>
</body>
</html>